<!doctype html>
<html>
  <head>
    <title>Fwitter</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <body>

    <div class="container">
      <nav>
        <% if logged_in? %>
        <a href="/tweets/new"> Create Tweet </a>
        <a href="/logout"> Log Out </a>
        <% end %>
      </nav>
      <%= yield %>
    </div>

  </body>
</html>
